main {
  padding-left: 1rem;
  padding-right: 1rem;
}

main h1 {
  position: relative;
  text-align: center;
}

main h1::after {
  display: block;
  content: " ";
  width: 100%;
  height: 2px;
  background-image: -webkit-linear-gradient(left, #343a40 0%, #535353 100%);
  background-image: -o-linear-gradient(left, #343a40 0%, #535353 100%);
  background-image: linear-gradient(to right, #535353 0%, #343a40 100%); 
  background-color: grey;
  position: absolute;
  bottom: 0px;
}