footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
  background-color: #111;
  color: #b9b9b9;
  padding: .5rem 1rem;
}

footer a {
  text-decoration: none;
  color: #b9b9b9;
  margin-top: .25rem;
}

footer a:hover {
  color: white;
}

.footer_contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}