header {
  background-color: rgba(0,0,0, 0.85);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

header img {
  position: absolute;
  left: 1rem;
}

.head_logo {
  width: 168px;
}